.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 880px;
  background-color: #000000;
  padding: 45px 200px;
  margin: 0 auto;
}

.header__logo-image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin: 0 auto;
    justify-content: center;
    overflow-x: hidden;
  }

  .header__logo-image {
    width: 126px;
    height: auto;
    max-width: 100%;
  }
}
